* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: blanchedalmond;
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    background-color: #45220A;
    color: lightgray;
}

.header .navbar-wrapper {
    height: 78px;
    margin: auto;
    position: relative;
    width: 80%;
}

.header .navbar-wrapper ul {
    position: absolute;
    right: 0;
}

.header .navbar-wrapper ul li {
    float: left;
    padding: 30px;
}

.header .navbar-wrapper ul li:hover {
    cursor: pointer;
}

.header .banner {
    height: 500px;
    overflow: hidden;
    position: relative;
}

.header .banner .banner-content {
    height: 100%;
    position: absolute;
    width: 100%;
}

.header .banner .content-middle {
    animation: slideMiddle;
    animation-duration: 3s;
}

.header .banner .content-left {
    animation: slideLeft;
    animation-duration: 3s;
    left: -100%;
}

.header .banner .content-right {
    right: 100%;
}

.header .banner .banner-one, .banner-two, .banner-three {
    background-size: 100%;
    background-repeat: no-repeat;
}

.header .banner .banner-one {
    background-image: url(img/background/1.jpg);
}

.header .banner .banner-two {
    background-image: url(img/background/2.jpg);

}

.header .banner .banner-three {
    background-image: url(img/background/3.jpg);
}

.content {
    height: 1020px;
    margin-top: 50px;
    z-index: 2;
}

.content .content-wrapper {
    height: 50%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 80%;
}

.content .content-wrapper .hide {
    animation: contentHide;
    animation-duration: 2s;
    height: 10px;
    width: 0;
}

.content .content-wrapper .show {
    animation: contentShow;
    animation-duration: 2s;
    height: 100%;
    width: 100%;
}

.content .content-wrapper .content-one, .content-two, .content-three, .content-four {
    background-repeat: no-repeat;
    background-size: 100%  100%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.content .content-wrapper .content-one {
    background-image: url(img/background/c1.jpg);
}

.content .content-wrapper .content-two {
    background-image: url(img/background/c2.jpg);
    top: 33.33%;
}

.content .content-wrapper .content-three {
    background-image: url(img/background/c3.jpg);
    top: 66.66%;
}

.content .content-wrapper .content-four {
    background-image: url(img/background/c4.jpg);
    top: 100%;
}

.content .content-wrapper .content-body {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}

.footer {
    color: lightgray;
    background-color: #45220A;
    position: relative;
}

.footer h1 {
    padding: 30px 0;
}

.footer .container {
    margin: auto;
    width: 80%;

}

.footer .container .contact {
    border-right: solid 1px lightgray;
    padding-left: 100px;
    width: 50%;
}

.footer .container .contact a{
    display: block;
    height: 40px;
    position: relative;
}

.footer .container .contact a img{
    float: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 28px;
}

.footer .container .contact a p {
    left: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.footer .copyright {
    left: 50%;
    margin-left: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.scroll-top {
    bottom: 100px;
    height: 45px;
    position: fixed;
    right: 20px;
    width: 45px;
    z-index: 998;
}

.scroll-top img {
    background-color: lightgray;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    width: 100%;
}

.scroll-top img:hover {
    cursor: pointer;
}

.navbar-toggler {
    background-color: #45220A;
    bottom: 0;
    display: none;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.navbar-toggler .navbar-toggler-wrapper {
    margin: auto;
    width: 50px;
}
.navbar-toggler .navbar-toggler-wrapper img {
    display: block;
    margin: auto;
    padding: 10px;
    width: 100%;
}

.side-navigation {
    display: block;
    height: 50%;
    position: absolute;
    top: 630px;
    width: 100%;
    z-index: -1;
}

.side-navigation .side-navigation-line {
    background-color: lightgray;
    height: 100%;
    margin: auto;
    width: 0.25%;
}

.side-navigation .side-navigation-line .side-navigation-dot {
    border: solid 10px lightgray;
    border-radius: 50%;
    height: 40px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 40px;
}

.side-navigation .one, .two, .three, .four {
    background-color: white;
    transition: all 1s;
}

.side-navigation .two {
    top: 33.33%;
}

.side-navigation .three{
    top: 66.66%;
}

.side-navigation .four{
    top: 100%;
}

.side-navigation .active {
    background-color: #45220A;
}

@media only screen and (max-width: 600px) {
    .header .banner {
        height: 210px;
    }

    .header .navbar-wrapper{
        background-color: rgba(69, 34, 10, 0.8);
        display: block;
        height: 0;
        overflow: hidden;
        position: fixed;
        width: 100%;
        z-index: 999;
    }

    .header .hide {
        animation: responsiveNavbarHide;
        animation-duration: 1s;
        height: 0;
    }

    .header .show {
        animation: responsiveNavbarShow;
        animation-duration: 1s;
        height: 100%;
    }

    .header .navbar ul {
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .header .navbar-wrapper ul li{
        float: none;
        text-align: center;
    }

    .content {
        height: 730px;
    }

    .content .content-wrapper {
        height: 80%;
    }

    .content .content-wrapper #content {
        height: 30%;
    }

    .content .content-wrapper .hide{
        animation: contentHideMobile;
        animation-duration: 2s;
        height: 0;
    }

    .content .content-wrapper .show{
        animation: contentShowMobile;
        animation-duration: 2s;
        height: 30%;
    }

    .footer {
        font-size: 15px;
    }
    
    .footer .container h1 {
        font-size: 20px;
        padding: 10px 0;
    }

    .footer .container .contact {
        border: none;
        padding-left: 30px;
        width: 100%;
    }

    .footer .container .contact a{
        height: 30px;
    }

    .footer .container .copyright {
        left: 0;
        margin: 20px 0 30px 0;
        top: 0;
        position: relative;
        padding-bottom: 30px;
        text-align: center;
        transform: translate(0);
    }

    .navbar-toggler {
        display: block;
    }

    .side-navigation {
        height: 80%;
        top: 260px;
    }

    @keyframes contentHideMobile {
        0% {
            width: 100%;
            height: 30%;
        }
    
        50% {
            height: 10px;
            width: 100%;
        }
    
        100% {
            height: 10px;
            width: 0;
        }
    }
    
    @keyframes contentShowMobile {
        0% {
            height: 10px;
            width: 0;
        }
    
        50% {
            height: 10px;
            width: 100%;
        }
    
        100% {
            height: 30%;
            width: 100%;
        }
    }
}

@keyframes slideLeft {
    from { left: 0; }
    to { left: -100%; }
}

@keyframes slideMiddle {
    from { left: 100%; }
    to { left: 0; }
}

@keyframes contentHide {
    0% {
        width: 100%;
        height: 100%;
    }

    50% {
        height: 10px;
        width: 100%;
    }

    100% {
        height: 10px;
        width: 0;
    }
}

@keyframes contentShow {
    0% {
        height: 10px;
        width: 0;
    }

    50% {
        height: 10px;
        width: 100%;
    }

    100% {
        height: 100%;
        width: 100%;
    }
}

@keyframes responsiveNavbarHide {
    from { height: 100%; }
    to { height: 0; }
}

@keyframes responsiveNavbarShow {
    from { height: 0; }
    to { height: 100%;}
}