* {
    color: lightgray;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: blanchedalmond;
    scroll-behavior: smooth;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 30px;
}

.header {
    background-color: #45220A;
    width: 100vw;
}

.header .navbar-wrapper {
    background-color: #45220A;
    height: 7vh;
    margin: auto;
    width: 100%;
}

.header .navbar-wrapper .navbar {
    height: 100%;
    margin: auto;
    position: relative;
    width: 90%;
}

.header .navbar-wrapper .navbar ul {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: right;
    position: absolute;
    left: 25%;
    width: 75%;
}

.header .navbar-wrapper .navbar ul li{
    align-items: center;
    background-color: blanchedalmond;;
    display: flex;
    height: 100%;
    justify-content: center;
}

.header .navbar-wrapper .navbar ul li a{
    align-items: center;
    background-color: #45220A;
    border: solid 1px lightgray;
    display: flex;
    height: 7vh;
    justify-content: center;
    position: relative;
    width: 150px;
    z-index: 1;
}

.header .navbar-wrapper .navbar ul li a::before, a::after{
    background-color: #45220A;
    content: '';
    position: absolute;
    transition: 1s;
    z-index: -1;
}

.header .navbar-wrapper .navbar ul li a::before{
    height: 100%;
    width: 150px;
}

.header .navbar-wrapper .navbar ul li a::after{
    background-color: #45220A;
    height: 7vh;
    width: 150px;
}

.header .navbar-wrapper .navbar ul li a:hover {
    left: -5px;
    top: 5px;
}

.header .navbar-wrapper .navbar ul li a:active {
    left: 0;
    top: 0;
}

.header .navbar-wrapper .navbar ul li a:hover::before{
    height: 0;
}

.header .navbar-wrapper .navbar ul li a:hover::after{
    width: 0;
}

.header .banner {
    overflow: hidden;
    height: 50vh;
    position: relative;
    width: 100vw;
}

.header .banner .banner-content {
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    position: absolute;
    width: 100%;
}

.header .banner .banner-one {
    background-image: url(img/background/1.jpg);
    background-position-y: 100%;
}

.header .banner .banner-two {
    background-image: url(img/background/2.jpg);
    background-position-y: 60%;
}

.header .banner .banner-three {
    background-image: url(img/background/3.jpg);
    background-position: 100%;
}

.header .banner .content-right {
    left: 100%;
}

.header .banner .content-middle {
    animation: slideMiddle 2s ease;
}

.header .banner .content-left {
    animation: slideLeft 2s ease;
    left: -100%;
}

.header .banner .banner-title {
    background-color: rgba(0, 0, 0, 0.3);
    font-family: 'Tangerine';
    position: relative;
    height: 100%;
}

.header .banner .banner-one  .banner-title h1{
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 3vw;
    position: absolute;
    right: 10vw;
    top: 30%;
}

.header .banner .banner-two  .banner-title h1{
    color: white;
    font-family: 'Handlee', cursive;
    font-size: 2vw;
    left: 50%;
    margin-top: 1%;
    position: absolute;
    transform: translateX(-50%);
}

.header .banner .banner-three  .banner-title h1{
    color: white;
    font-family: 'Just Another Hand', cursive;
    font-size: 4vw;
    position: absolute;
    right: 10vw;
    top: 40%;
}

.content {
    height: 150vh;
    margin-top: 50px;
    width: 100vw;
}
.content .content-wrapper {
    height: 90vh;
    margin: auto;
    position: relative;
    width: 90%;
}

.content .content-wrapper #content {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 3px;
    left: 50%;
    height: 50vh;
    overflow: hidden;
    position: absolute;
    transform: translateX(-50%);
}

.content .content-wrapper .content-one {
    background-image: url(img/background/c1.jpg);
    background-position-y: 23%;
}
.content .content-wrapper .content-two {
    background-image: url(img/background/c2.jpg);
    background-position-y: 30%;
    top: 33.33%;
}
.content .content-wrapper .content-three {
    background-image: url(img/background/c3.jpg);
    background-position-y: 60%;
    top: 66.66%;
}
.content .content-wrapper .content-four {
    background-image: url(img/background/c4.jpg);
    background-position-y: 50%;
    top: 100%;
}

.content .content-wrapper .show {
    animation: showContent 1s ease;
    height: 100%;
    margin-top: 20px;
    width: 100%;
}

.content .content-wrapper .hide {
    animation: hideContent 1s ease;
    height: 1px;
    margin-top: 0;
    width: 0;
}

.content .content-wrapper #content .content-body {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.content .content-wrapper #content .content-body h1{
    font-size: 3vw;
    margin: 20px;
    position: absolute;
}

.content .content-wrapper .content-one .content-body h1{
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
}

.content .content-wrapper .content-two .content-body h1{
    right: 0;
    bottom: 0;
}

.content .content-wrapper .content-three .content-body h1{
    bottom: 0;
}

.content .content-wrapper .content-four .content-body h1{
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.footer {
    background-color: #45220A;
    padding: 30px 0;
    width: 100vw;
}

.footer .container {
    display: flex;
    height: 100%;
    margin: auto;
    width: 90%;
}

.footer .container .contact {
    border-right: solid 1px lightgray;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

.footer .container .contact a {
    display: flex;
    padding: 10px 50px;
}

.footer .container .contact a p {
    align-items: center;
    display: flex;
    margin-left: 30px;
}

.footer .container .copyright {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 50%;
}

.side-navigation {
    align-items: center;
    display: flex;
    height: 90vh;
    justify-content: center;
    margin-top: 50px;
    position: absolute;
    top: 57vh;
    width: 100vw;
    z-index: -1;
}

.side-navigation .side-navigation-line {
    background-color: lightgray;
    height: 100%;
    position: relative;
    width: 0.5vw;
}

.side-navigation .side-navigation-line .side-navigation-dot {
    background-color: white;
    border: solid 1vw lightgray;
    border-radius: 50%;
    height: 4vw;
    left: 0.25vw;
    position: absolute;
    width: 4vw;
    transform: translate(-50%, -50%);
}

.side-navigation .side-navigation-line .one {
    top: 0;
}

.side-navigation .side-navigation-line .two {
    top: 33.33%;
}

.side-navigation .side-navigation-line .three {
    top: 66.66%;
}

.side-navigation .side-navigation-line .four {
    top: 100%;
}

.side-navigation .side-navigation-line .active {
    background-color: #45220A;
}

.scroll-top {
    bottom: 100px;
    cursor: pointer;
    height: 40px;
    position: fixed;
    width: 40px;
}

.scroll-top.showIcon{
    animation: showIcon 1s ease;
    right: 30px;
}

.scroll-top.hideIcon{
    animation: hideIcon 1s ease;
    right: -50px;
}

.scroll-top img {
    background-color: lightgray;
    border-radius: 10px;
    height: 100%;
    padding: 10px;
    width: 100%;
}

.navbar-toggler {
    align-items: center;
    bottom: 0;
    display: none;
    justify-content: center;
    position: fixed;
    width: 100vw;
    z-index: 999;
}

.navbar-toggler .navbar-toggler-wrapper {
    height: 35px;
    margin: 5px 0;
    position: relative;
    width: 35px;
}

.navbar-toggler .navbar-toggler-wrapper input{
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: 3;
}

.navbar-toggler .navbar-toggler-wrapper .navbar-toggler-icon {
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 2;
}

.navbar-toggler .navbar-toggler-wrapper .navbar-toggler-icon span {
    background-color: white;
    border-radius: 5px;
    height: 4px;
    position: absolute;
    transition: 1s;
    transform: translateY(-50%);
    transform-origin: 0 100%;
    width: 100%;
}

.navbar-toggler .navbar-toggler-wrapper .navbar-toggler-icon span:nth-child(1) {
    top: 25%;
}

.navbar-toggler .navbar-toggler-wrapper .navbar-toggler-icon span:nth-child(2) {
    top: 50%;
}

.navbar-toggler .navbar-toggler-wrapper .navbar-toggler-icon span:nth-child(3) {
    top: 75%;
}

.navbar-toggler .navbar-toggler-wrapper input:checked ~ .navbar-toggler-icon span {
    transform: rotate(45deg);
}

.navbar-toggler .navbar-toggler-wrapper input:checked ~ .navbar-toggler-icon span:nth-child(1) {
    top: 0;
    transform-origin: -1.5px 9px;
}

.navbar-toggler .navbar-toggler-wrapper input:checked ~ .navbar-toggler-icon span:nth-child(2) {
    opacity: 0;
    transform: rotate(0deg) scale(0.1, 0.1);
    transform-origin: 50% 50%;
}

.navbar-toggler .navbar-toggler-wrapper input:checked ~ .navbar-toggler-icon span:nth-child(3) {
    transform: rotate(-45deg);
    transform-origin: 4px -3px;
}

/* Media query phone */
@media screen and (max-width: 480px) {
    .header .navbar-wrapper {
        height: 0;
        overflow: hidden;
        position: fixed;
        z-index: 999;
    }

    .header .show {
        animation: showHeader 1s ease;
        height: 100%;
    }

    .header .hide {
        animation: hideHeader 1s ease;
        height: 0;
    }
    
    .header .navbar-wrapper .navbar{
        align-items:  center;
        display: flex;
        width: 100%;
    }
    
    .header .navbar-wrapper .navbar ul {
        background-color: blue;
        flex-direction: column;
        height: 30%;
        left: 0;
        width: 100%;
    }

    .header .navbar-wrapper .navbar ul li {
        background-color: #45220A;
        width: 100%;
    }

    .header .navbar-wrapper .navbar ul li a{
        border: none;
        width: 100%;
    }

    .header .navbar-wrapper .navbar ul li a::before, a::after {
        display: none;
    }

    .header .banner {
        height: 35vh;
    }

    .header .banner .banner-content {
        background-size: 100% 100%;
    }

    .header .banner .banner-one {
        background-position-y: 0;
    }

    .header .banner .banner-one .banner-title h1{
        font-size: 5vw;
        top: 50%;
    }

    .header .banner .banner-two {
        background-position-y: 0;
    }

    .header .banner .banner-two .banner-title h1{
        font-size: 5vw;
    }

    .header .banner .banner-three {
        background-position-y: 0;
    }

    .header .banner .banner-three .banner-title h1{
        bottom: 0;
        font-size: 7vw;
        right: 0;
    }

    .navbar-toggler {
        background-color: #45220A;
        display: flex;
    }

    .content .content-wrapper {
        width: 100%;
    }

    .content .content-wrapper #content{
        height: 35vh;
    }

    .content .content-wrapper .show {
        animation: showContentResponsive 1s ease;
        height: 35vh;
    }

    .content .content-wrapper .hide {
        animation: hideContentResponsive 1s ease;
        height: 3px;
    }

    .content .content-wrapper #content {
        background-size: 100% 100%;
    }

    .content .content-wrapper #content .content-body h1{
        font-size: 4vw;
        width: 100%;
    }

    .content .content-wrapper .content-one .content-body h1{
        top: 60%
    }

    .content .content-wrapper .content-two .content-body h1{
        bottom: 30px;
        text-align: right;
    }

    .content .content-wrapper .content-three .content-body h1{
        bottom: 20px;
    }

    .content .content-wrapper .content-four .content-body h1{
        left: 10%;
        transform: translateX(0);
    }

    .footer {
        margin-bottom: 30px;
    }
    
    .footer .container {
        flex-direction: column;
    }

    .footer .container .contact {
        border: none;
        width: 100%;
    }

    .footer .container .copyright {
        margin: 20px 0;
        width: 100%;
    }

    .side-navigation {
        top: 35vh;
    }

    @keyframes showContentResponsive {
        0% {
            height: 3px;
            margin-top: 0;
            width: 0;
        }

        50% {
            height: 0.5vh;
        }

        100% {
            height: 35vh;
        }
    }

    @keyframes hideContentResponsive {
        0% {
            height: 35vh;
            margin-top: 20px;
            width: 100%;
        }

        50% {
            height: 0.5vh;
            width: 100%
            ;
        }

        100% {
            height: 0.5vh;
            margin-top: 0;
        }
    }
}


/* Media query tablet */
@media screen and (max-width: 768px) {
    .header .navbar-wrapper .navbar ul li {
        background-color: #45220A;
    }

    .header .navbar-wrapper .navbar ul li a {
        border: none;
    }

    .header .navbar-wrapper .navbar ul li a::before, a::after {
        display: none;
    }

    .header .banner .banner-content {
        background-size: 100% 100%;
    }
}

@media screen and (max-width: 1024px) {
    .header .navbar-wrapper .navbar ul li {
        background-color: #45220A;
    }

    .header .navbar-wrapper .navbar ul li a {
        border: none;
    }
    
    .header .navbar-wrapper .navbar ul li a::before, a::after {
        display: none;
    }

    .content .content-wrapper .content-four .content-body h1{
        left: 45%;
    }
}

@keyframes slideLeft {
    0% {
        left: 0%;
    }
    100% {
        left: -100%;
    }
}

@keyframes slideMiddle {
    0% {
        left: 100%;
    }
    100% {
        left: 0;
    }
}

@keyframes showContent {
    0% {
        height: 3px;
        margin-top: 0;
        width: 0;
    }

    50% {
        height: 3px;
        margin-top: 0;
        width: 100%;
    }
    100% {
        height: 50vh;
        margin-top: 20px;
        width: 100%;
    }
}

@keyframes hideContent {
    0% {
        height: 50vh;
        margin-top: 20px;
        width: 100%;
    }

    50% {
        height: 3px;
        margin-top: 20px;
        width: 100%;
    }
    100% {
        height: 3px;
        margin-top: 0;
        width: 0;
    }
}

@keyframes showIcon {
    0% {
        right: -50px;
    }
    100% {
        right: 30px;
    }
}

@keyframes hideIcon {
    0% {
        right: 30px;
    }
    100% {
        right: -50px;
    }
}

@keyframes showHeader {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

@keyframes hideHeader {
    0% {
        height: 100%;
    }
    100% {
        height: 0;
    }
}